/* Format for applying styling rules */
[selector] {
  [property]: [value];
}
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
/* Global Styles go here */
body {
  background: white;
  color: black;
  overflow-y: scroll;
}
img {
  width: 100%;
}
.pp-page {
  width: 100%
  overflow-y: scroll;
  overflow-x: hidden;
}

.pp-story-container {
  font-family: 'Libre Baskerville', serif;
  height: 100%;
  width: 100%;
  font-size: 4.5vw;
  text-align: center;
  margin-top: 20vw;
  overflow: hidden;
  position: absolute;
}


.pp-tree {
  width: 30%;
  position: relative;
  overflow: hidden;
}
.pp-tree-container {
  width: 120%;
  position: relative;
  overflow: hidden;
  margin-left: -10%;
  margin-top: 0px;
}

.pp-tree--left {
  float: left;
  overflow: hidden;
}

.pp-tree--right {
  width: 40%;
  float: right;
  margin-right: -8%;
  overflow: hidden;
}


.pp-branch--top {
  top: 0%;
  right: 23%;
  width: 60%;
  z-index: 3;
  position: absolute;
  overflow: hidden;
  transition: transform 2s;
  transform: rotate(-5deg);
  transform-origin: right bottom;
}

.pp-branch-trigger--active .pp-branch--top {
  transform: rotate(20deg);
  transform-origin: right bottom;
}

.pp-branch-trigger--active .pp-branch--bottom {
  transform: rotate(-15deg);
  transform-origin: right bottom;
}


.pp-branch--bottom {
  top: 10%;
  right: 35%;
  width: 50%;
  z-index: 2;
  position: absolute;
  overflow: hidden;
  transition: transform 2s;
  transform-origin: right bottom;
}


.pp-story-container2 {
  font-family: 'Libre Baskerville', serif;
  height: 100%;
  width: 100%;
  font-size: 4.5vw;
  text-align: center;
  overflow: hidden;
  position: absolute;
  margin-top: 2vw;
}

.pp-kitchen-container {
  width: 110%;
  position: relative;
  overflow: hidden;
  margin-left: -3%;
}

.pp-kitchen--left {
  float: left;
  overflow: hidden;
  width: 30%;
}

.pp-kitchen--right {
  width: 40%;
  float: right;
  margin-right: -5%;
  overflow: visible;
}

.pp-kitchen {
  position: relative;
}

.pp-dress--top {
  margin-top: 36%;
  right: 5%;
  width: 43%;
  z-index: 3;
  position: absolute;
  overflow: hidden;
  -webkit-transition: margin-right 2s; /* Safari */
  transition: margin-right 2s;
}

.pp-dress-trigger--active .pp-dress--top {
  margin-right: 20%;
}


.pp-dress--bottom {
  margin-top: 35%;
  right: 4%;
  width: 110%;
  z-index: 2;
  position: absolute;
  overflow: hidden;
}


.pp-story-container3 {
  font-family: 'Libre Baskerville', serif;
  height: 100%;
  width: 100%;
  font-size: 4.5vw;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.pp-attic-container {
  width: 120%;
  position: relative;
  overflow: hidden;
  margin-left: -5%;
}

.pp-attic--left {
  margin-top: 5%;
  width: 40%;
  margin-left: 4%;
  float: left;
  overflow: hidden;
}

.pp-attic--window {
  width: 17%;
  margin-right: 0%;
  overflow: hidden;
  position: relative;
}

.pp-attic--right {
  width: 50%;
  float: right;
  margin-right: -5%;
  overflow: hidden;
}

.pp-right--one {
  margin-top: -10%;
  margin-left: 8%;
  width: 14%;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  transform: rotate(26deg);
  transform-origin: right bottom;
}

.pp-duster-trigger--active .pp-right--one {
  -webkit-animation-name: duster; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  animation-name: duster;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes duster {
    0% {transform: rotate(26deg);
    transform-origin: right bottom;}
    25% {transform: rotate(-20deg);
    transform-origin: right bottom;}
    50% {transform: rotate(0deg);
    transform-origin: right bottom;}
    75% {transform: rotate(-20deg);
    transform-origin: right bottom;}
    100% {transform: rotate(26deg);
    transform-origin: right bottom;}
  }

  /* Standard syntax */
  @keyframes duster {
    0% {transform: rotate(26deg);
    transform-origin: right bottom;}
    25% {transform: rotate(-20deg);
    transform-origin: right bottom;}
    50% {transform: rotate(0deg);
    transform-origin: right bottom;}
    75% {transform: rotate(-20deg);
    transform-origin: right bottom;}
    100% {transform: rotate(26deg);
    transform-origin: right bottom;}
  }

.pp-right--two {
  margin-top: -11%;
  right: 12%;
  width: 17%;
  z-index: 2;
  position: absolute;
  overflow: hidden;
}

.pp-right--three {
  margin-top: 7%;
  right: 24%;
  width: 20%;
  z-index: 3;
  position: absolute;
  overflow: hidden;
}
